body{
	
}

#bCanvas{
	background: url('../images/monoBoard.jpg');
	background-size: 600px 600px;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
}

#debug {
	width: 300px;
	font-size: 12px;
}

.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
  pointer-events: none;
}

.info {
	float: right;
	margin: 3px;
}

